<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ForYou - Crie Mensagens Secretas</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Special+Gothic+Condensed+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topnav">
            <a href="/">Inicio</a>
            <a href="form">Criar Mensagem</a>
        <a href="sobre">Sobre</a>
</div>
<br>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <%= yield %>
    <footer>Powered by Iago Dórea Pinto | &copy; Dorea Network</footer>
</body>